server.port={{ app_port }}

# Database
spring.datasource.url={{ db_url }}
spring.datasource.username={{ db_user }}
spring.datasource.password={{ db_password }}
spring.jpa.hibernate.ddl-auto=update

# Logging
logging.level.root=INFO
